* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
    font-family: Arial, Helvetica, sans-serif;  
}


body {
    background: linear-gradient(
80deg
,#d340ae,rgba(79, 3, 129, 0.89))

}
     

header {
    height: 50px;
}
/*menu*/
nav {
	background: #000000;
	height: 75px;
	width: 100%;
    position: fixed;
    
}
label.logo {
	color: rgb(255, 255, 255);
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
nav ul.fir {
	float: right;
	margin-right: 20px;
	
}
nav ul.fir li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul.fir li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
    text-decoration: none;
    
}
nav ul.fir li a:hover{
    color: rgb(255, 255, 255);
}
nav ul.fir li a.active, nav ul.fir li a:hover {
	background: #270486;
	transition: .5s;
}
.checkbtn {
	font-size: 30px;
	color: rgb(255, 255, 255);
	float: right;
	line-height: 80px;
	margin-right: 40 px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
@media (max-width: 952px){
	label.logo{
		font-size: 23px;
		padding-left: 20px;
	}
	nav ul.fir li a{
		font-size: 16px;
	}
}
@media (max-width: 858px){
	.checkbtn {
		display: block;

	}
	ul.fir{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #1d075f;
		top: 70px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul.fir li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul.fir li a {
		font-size: 20px;
	}
	nav ul.fir li a:hover, nav ul li a.active {
		background: none;
		color: #5534af;
	}
	#check:checked ~ ul.fir {
		left: 0;
	}
}

    /*PARALLAX*/
    #plx {
        background:url(imagens/programa22.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover ;
	
    }
    .witle {
        padding: 50px 20px;
    }
    .witle h2 {
        font-size: 36px;
        font-weight: bold;
    }

	@media (max-width: 500px) {
		#plx {

			background:url(imagens/programa22p.jpg);
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover ;
		
		}		
	}



/*TELA INICIAL*/
  section#inicio{
    text-align: center;
    color: rgb(0, 0, 0);
}

h1 {
    font-size: 70px;
    padding: 40px 0px 1px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    
}
h2.titulo {
    padding: 30px 0 0;
	font-size: 35px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

#contato {
    border-radius: 50px;
    padding: 20px;
    background: linear-gradient(
        200deg
        ,#34b8e0,rgba(29, 51, 177, 0.89))
}


/*SOBRE*/
#tsobre {
	text-align: center;
	font-size: 50px;
}

#gato{
	margin: 1px 8px 0px 1px;
}


.texto {
	font-size: 25px;
	text-indent: 3em;
}
#wines {
	background-image: url(imagens/gatot.jpg);
	background-position: left;
	height: 600px;
	background:#f7f7f7;
	
}






/*EXPERIÊNCIA*/

#plx2 {
	background:url(imagens/teclado2.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover ;
	color: rgb(255, 255, 255);
} 
#tituloe {
	font-size: 60px;
	text-align: center;
}

.witle2 {
	height: 600px;
	font-size:20px;
}
#expe1 {
	font-size: 35px;
}
#expe2 {
	width: 400px;
	height: 20px;
}
#expe3 {
	font-size: 30px;
}
#expe4 {
	font-size: 30px;
}


/*CONTATO*/

#h2c {
	text-align: center;
	font-size: 50px;
	color: rgb(255, 255, 255);
}
#tamanho {
	height: 400px;
}
div#sss {
    margin: 100px;
}

.rede{
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 20px;
    transition: all 0.4s ease-out;
    border-radius: 50%;
}

.rede:hover{
    cursor: pointer;
    transform: translateY(-20px);
    box-shadow: 4px 30px 16px 0px rgba(50,50,50, 0.45);
}

div#fac{
    background-color: #2372a3;
	margin-left: 35%;

}
div#ins{
   background-color: #3f729b;
   
}

div#git { 
	background-color: #999999;
}
div#wpp {
	background-color: rgb(35, 194, 35);
}
.iconew {
	margin: 12px;
	padding: 1px;
	width: 55px;
}
.icone{
    margin: 15px;
    padding: 1px;
    width: 50px;
}

#out {
	background-color: rgb(69, 69, 224);
}
#final {
	text-align: center;
}





/* MOBILE */

@media (max-width: 600px) {

	/*TELA INICIAL*/

	h1 {
		font-size: 50px;
	}
	h2.titulo {
		font-size: 25px;
	}


	/*SOBRE*/

	h2#tsobre {
		text-align: rig;
		font-size: 25px;
	}
	.texto {
		position: relative;
		font-size: 16px;
		text-indent: 1.5em;
	}
	#gato{
		width: 200px;
		height: 12px;
	}
	#gato{
		width: 100%;
		height: auto;
	}

	/*EXPERIÊNCIA*/

	#tituloe {
		font-size: 30px;
	}
	#expe1{
		font-size: 24px;
	
	}
	#expe2 {
	
		width: 200px;
		height: 22px;
	}
	#expe3 {
		font-size: 20px;
	}
	#expe4 {
		font-size: 20px;
	}

	/*CONTATO*/

	#h2c{
		font-size: 25px;
	}
	.rede{
		width: 60px;
		height: 60px;
		float: left;
		margin-left:15px;
	}
	.iconew {
		margin: 8px;
		padding: 1px;
		width: 45px;
	}
	.icone{
		margin: 10px;
		padding: 1px;
		width:40px;
	}
	div#fac{
		background-color: #2372a3;
		margin-left: 8%;
	
	}

}
/* TABLET */
@media (max-width: 950px) {

	/*TELA INICIAL*/

	h1 {
		font-size: 60px;
	}
	h2.titulo {
		font-size: 30px;
	}

	/*SOBRE*/

	#tsobre {
		text-align: justify;
		font-size: 30px;
	}
	.texto {
		font-size: 18px;
	}
	.cont{
		width: 300px;
		height: 12px;
	}
	.cont img {
		width: 100%;
		height: auto;
	}

	/*EXPERIÊNCIA*/




	/*CONTATO*/
	
	#h2c{
		font-size: 35px;
		
	}
	.rede{
		width: 60px;
		height: 60px;
		float: left;
		margin-left:15px;
	}
	.iconew {
		margin: 8px;
		padding: 1px;
		width: 45px;
	}
	.icone{
		margin: 10px;
		padding: 1px;
		width: 40px;
	}
	div#fac{
		background-color: #2372a3;
		margin-left: 25%;
	
	}

}
